<!DOCTYPE html>
<html>
    <head>
        <title>
            Erika-15-100m-Free
        </title>
     <style>
    body {
      background-color: lightblue;
    }
    h3 {
      color: navy;
    }
    p{
    color: navy
    }
    </style>
    </head>
    <body>
        <h3>Erika-15-100m-Free</h3>
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>1:21.74<br />
        <svg height="30" width="400">
            <rect height="30" width="336.64" style="fill:rgb(0,0,255);" />
        </svg>1:18.62<br />
        <svg height="30" width="400">
            <rect height="30" width="324.91" style="fill:rgb(0,0,255);" />
        </svg>1:15.88<br />
        <svg height="30" width="400">
            <rect height="30" width="338.44" style="fill:rgb(0,0,255);" />
        </svg>1:19.04<br /><p>Average:1:18.82</p>
    </body>
</html>