<!DOCTYPE html>
<html>
    <head>
        <title>
            Katie-9-100m-Back
        </title>
     <style>
     
    body {
      background-color: lightblue;
    }
    h3 {
      color: navy;
    }
    p{
    color: navy
    }
    </style>
    </head>
    <body>
        <h3>Katie-9-100m-Back</h3>
        <svg height="30" width="400">
            <rect height="30" width="347.49" style="fill:rgb(0,0,255);" />
        </svg>1:32.71<br />
        <svg height="30" width="400">
            <rect height="30" width="344.94" style="fill:rgb(0,0,255);" />
        </svg>1:32.03<br />
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>1:33.38<br />
        <svg height="30" width="400">
            <rect height="30" width="348.16" style="fill:rgb(0,0,255);" />
        </svg>1:32.89<br />
        <svg height="30" width="400">
            <rect height="30" width="349.96" style="fill:rgb(0,0,255);" />
        </svg>1:33.37<br />
        <svg height="30" width="400">
            <rect height="30" width="330.21" style="fill:rgb(0,0,255);" />
        </svg>1:28.10<br />
        <svg height="30" width="400">
            <rect height="30" width="343.03" style="fill:rgb(0,0,255);" />
        </svg>1:31.52<br />
        <svg height="30" width="400">
            <rect height="30" width="349.93" style="fill:rgb(0,0,255);" />
        </svg>1:33.36<br /><p>Average:1:32.17</p>
    </body>
</html>