<!DOCTYPE html>
<html>
    <head>
        <title>
            Katie-9-50m-Back
        </title>
    <link rel="stylesheet" href="/static/webapp.css"/>
    </head>
    <body>
        <h3>Katie-9-50m-Back</h3>
        <svg height="30" width="400">
            <rect height="30" width="337.73" style="fill:rgb(0,0,255);" />
        </svg>45.69<br />
        <svg height="30" width="400">
            <rect height="30" width="340.91" style="fill:rgb(0,0,255);" />
        </svg>46.12<br />
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>47.35<br />
        <svg height="30" width="400">
            <rect height="30" width="319.69" style="fill:rgb(0,0,255);" />
        </svg>43.25<br />
                            <p>Average time: 0:45.60</p>
                            <p>M: 23.55 (22.11)<br />W: 26.86 (25.23)</p>
                        </body>
                    </html>