<!DOCTYPE html>
<html>
    <head>
        <title>
            Maria-9-50m-Free
        </title>
    <link rel="stylesheet" href="/static/webapp.css"/>
    </head>
    <body>
        <h3>Maria-9-50m-Free</h3>
        <svg height="30" width="400">
            <rect height="30" width="313.66" style="fill:rgb(0,0,255);" />
        </svg>41.00<br />
        <svg height="30" width="400">
            <rect height="30" width="309.76" style="fill:rgb(0,0,255);" />
        </svg>40.49<br />
        <svg height="30" width="400">
            <rect height="30" width="318.4" style="fill:rgb(0,0,255);" />
        </svg>41.62<br />
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>45.75<br /><p>Average:0:42.22</p>
    </body>
</html>