<!DOCTYPE html>
<html>
    <head>
        <title>
            Ruth-13-100m-Free
        </title>
     <style>
    body {
      background-color: lightblue;
    }
    h3 {
      color: navy;
    }
    p{
    color: navy
    }
    </style>
    </head>
    <body>
        <h3>Ruth-13-100m-Free</h3>
        <svg height="30" width="400">
            <rect height="30" width="339.68" style="fill:rgb(0,0,255);" />
        </svg>1:09.75<br />
        <svg height="30" width="400">
            <rect height="30" width="346.15" style="fill:rgb(0,0,255);" />
        </svg>1:11.08<br />
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>1:11.87<br />
        <svg height="30" width="400">
            <rect height="30" width="331.1" style="fill:rgb(0,0,255);" />
        </svg>1:07.99<br /><p>Average:1:10.17</p>
    </body>
</html>