<!DOCTYPE html>
<html>
    <head>
        <title>
            Ruth-13-200m-Free
        </title>
     <style>
     
    body {
      background-color: lightblue;
    }
    h3 {
      color: navy;
    }
    p{
    color: navy
    }
    </style>
    </head>
    <body>
        <h3>Ruth-13-200m-Free</h3>
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>2:33.58<br />
        <svg height="30" width="400">
            <rect height="30" width="331.91" style="fill:rgb(0,0,255);" />
        </svg>2:25.64<br />
        <svg height="30" width="400">
            <rect height="30" width="330.63" style="fill:rgb(0,0,255);" />
        </svg>2:25.08<br />
        <svg height="30" width="400">
            <rect height="30" width="338.15" style="fill:rgb(0,0,255);" />
        </svg>2:28.38<br />
        <svg height="30" width="400">
            <rect height="30" width="337.65" style="fill:rgb(0,0,255);" />
        </svg>2:28.16<br />
        <svg height="30" width="400">
            <rect height="30" width="325.07" style="fill:rgb(0,0,255);" />
        </svg>2:22.64<br /><p>Average:2:27.25</p>
    </body>
</html>