<!DOCTYPE html>
<html>
    <head>
        <title>
            Tasmin-15-100m-Free
        </title>
    </head>
    <body>
        <h3>Tasmin-15-100m-Free</h3>
        <svg height="30" width="400">
            <rect height="30" width="344.51" style="fill:rgb(0,0,255);" />
        </svg>1:10.91<br />
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>1:12.04<br />
        <svg height="30" width="400">
            <rect height="30" width="337.76" style="fill:rgb(0,0,255);" />
        </svg>1:09.52<br />
        <svg height="30" width="400">
            <rect height="30" width="344.66" style="fill:rgb(0,0,255);" />
        </svg>1:10.94<br />
        <svg height="30" width="400">
            <rect height="30" width="333.38" style="fill:rgb(0,0,255);" />
        </svg>1:08.62<br />
        <svg height="30" width="400">
            <rect height="30" width="344.95" style="fill:rgb(0,0,255);" />
        </svg>1:11.00<br />
        <svg height="30" width="400">
            <rect height="30" width="327.17" style="fill:rgb(0,0,255);" />
        </svg>1:07.34<br />
        <svg height="30" width="400">
            <rect height="30" width="334.6" style="fill:rgb(0,0,255);" />
        </svg>1:08.87<br /><p>Average:1:09.91</p>
    </body>
</html>