<!DOCTYPE html>
<html>
    <head>
        <title>
            Tasmin-15-100m-Back
        </title>
    <link rel="stylesheet" href="/static/webapp.css"/>
    </head>
    <body>
        <h3>Tasmin-15-100m-Back</h3>
        <svg height="30" width="400">
            <rect height="30" width="336.3" style="fill:rgb(0,0,255);" />
        </svg>1:16.56<br />
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>1:19.68<br />
        <svg height="30" width="400">
            <rect height="30" width="336.87" style="fill:rgb(0,0,255);" />
        </svg>1:16.69<br />
        <svg height="30" width="400">
            <rect height="30" width="349.78" style="fill:rgb(0,0,255);" />
        </svg>1:19.63<br /><p>Average:1:18.14</p>
    </body>
</html>