<!DOCTYPE html>
<html>
    <head>
        <title>
            Tasmin-15-200m-Breast
        </title>
    <link rel="stylesheet" href="/static/webapp.css"/>
    </head>
    <body>
        <h3>Tasmin-15-200m-Breast</h3>
        <svg height="30" width="400">
            <rect height="30" width="339.34" style="fill:rgb(0,0,255);" />
        </svg>2:57.99<br />
        <svg height="30" width="400">
            <rect height="30" width="347.81" style="fill:rgb(0,0,255);" />
        </svg>3:02.43<br />
        <svg height="30" width="400">
            <rect height="30" width="350.0" style="fill:rgb(0,0,255);" />
        </svg>3:03.58<br />
        <svg height="30" width="400">
            <rect height="30" width="332.0" style="fill:rgb(0,0,255);" />
        </svg>2:54.14<br />
                            <p>Average time: 2:59.53</p>
                            <p>M: 2:05.48 (1:59.52)<br />W: 2:17.55 (2:12.50)</p>
                        </body>
                    </html>